<div class="jumbotron">
    <h2>Cadastro de Clientes ASP.NET MVC - DDD</h2>
    <p class="lead">Este projeto consiste num cadastro de clientes do tipo pessoa física e jurídica, com o uso de JQuery, C#, 
    Entity Framework, HTML, CSS, JavaScript e banco de dados SQL Server, utilizando a arquitetura no padrão DDD (projeto orientado a domínio).</p>
</div>
<div class="row">
    <div class="colGreen col-md-4">
        <h2>Cadastro de clientes</h2>
        <p>Nesta aplicação você pode cadastrar, editar, consultar ou deletar um cliente do tipo pessoa física ou jurídica. Foi utilizada uma api gratuita para recuperação de dados de endereço 
        a partir do CEP.</p>
    </div>
    <div class="colRose col-md-4">
        <h2>Web Api com retorno Json</h2>
        <p>No link "API" você pode acessar uma rota onde será exibido um Json com os dados dos clientes cadastrados.</p>
    </div>
    <div class="colYel col-md-4">
        <h2>Requisitos</h2>
        <p>IIS 7.5, .NET Framework 4.5 ou superior,  SQL Server Express e Visual Studio caso queira debugar.</p>
    </div>
</div>
